{% extends '/Emails/email.html.twig' %}

{% block body %}
    <h1>Venez découvrir le service mandatstore.com</h1>

    <p>Mandats de vente ou de location en ligne. Réutilisables à l'infini, disponibles directement et immédiatement sur votre pc. Mandats simples ou exclusifs.</p>
    <p>Ne perdez plus de temps grâce à <a href="https://mandatstore.com">https://mandatstore.com</a></p>
{% endblock %}
