<footer class="bg-primary-50">
    <div class="footer-c py-4">
        <div class="container">
            <div class="row">
                <div class="col-md-4 text-center">
                    <a href="{{ url('mentions') }}" class="text-light text-decoration-none">
                        Mentions légales
                    </a>
                </div>
                <div class="col-md-4 text-light text-center">
                    © {{ "now"|date("Y") }} - {{ app_name }}
                </div>
                <div class="col-md-4 text-light text-center">
                    <a href="https://devcv.fr" target="_blank" class="text-light text-decoration-none">
                        Sylvain COMBRAQUE
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>
