<div class="col-12 py-4 primary-50 card shadow">
    <div class="col-12 primary-50 text-center d-flex pb-3">
        <h1 class="display-4 m-auto">
            Nous contacter
        </h1>
    </div>
    <div class="col-12 col-md-10 col-lg-8 offset-md-1 offset-lg-2">
        {% include '/Components/Forms/_contact.html.twig' %}
    </div>
</div>
