<span class="d-block pb-2">
    Loi n° 78-17 du 6 janvier 1978, notamment modifiée par la loi n° 2004-801 du 6 août 2004 relative à l'informatique,
    aux fichiers et aux libertés.
</span>
<span class="d-block pb-2">
    Loi n° 2004-575 du 21 juin 2004 pour la confiance dans l'économie numérique.
</span>
