<span class="d-block pb-2">
    Utilisateur : Internaute se connectant, utilisant le site susnommé.
</span>
<span class="d-block pb-2">
    Informations personnelles : « les informations qui permettent, sous quelque forme que ce soit, directement ou non,
    l'identification des personnes physiques auxquelles elles s'appliquent » (article 4 de la loi n° 78-17 du 6 janvier
    1978).
</span>
