<span class="d-block pb-2">
    Le site Internet ne pourra être tenu responsable de dommages matériels liés à l’utilisation du site. De plus,
    l’utilisateur du site s’engage à accéder au site en utilisant un matériel récent, ne contenant pas de virus et avec
    un navigateur de dernière génération mis-à-jour
</span>
