<span class="d-block pb-2">
    {{ app_name }} est propriétaire des droits de propriété intellectuelle ou détient les droits d’usage sur tous les
    éléments accessibles sur le site, notamment les textes, images, graphismes, logo, icônes, sons, logiciels.
</span>
<span class="d-block pb-2">
    Toute reproduction, représentation, modification, publication, adaptation de tout ou partie des éléments du site,
    quel que soit le moyen ou le procédé utilisé, est interdite, sauf autorisation écrite préalable de : MANDAT
    Store.</span>
<span class="d-block pb-2">
    Toute exploitation non autorisée du site ou de l’un quelconque des éléments qu’il contient sera considérée comme
    constitutive d’une contrefaçon et poursuivie conformément aux dispositions des articles L.335-2 et suivants du Code
    de Propriété Intellectuelle.
</span>
