<span class="d-block pb-2">
    Tout litige en relation avec l’utilisation du site <a href="{{ url('welcome') }}">{{ website_basepath }}</a> est
    soumis au droit français. Il est fait attribution exclusive de juridiction aux tribunaux compétents de Paris.
</span>
