<div id="background-banner"
     class="text-center primary-50 bg-light d-flex">
    <div class="align-middle d-flex w-100">
        <div id="header-layout" class="align-self-center w-100">
            <h1 class="display-4">
                {{ background_title|default(background_image) }}
            </h1>
            {% if background_description is defined %}
            <h2 class="h2-responsive">
                {{ background_description|default(background_image) }}
            </h2>
            {% endif %}
        </div>
    </div>
</div>
