<form class="w-100">
    <div class="form-row">
        <div class="form-group col-12 col-md-6">
            <label for="lastname" class="col-form-label col-form-label-lg">Nom</label>
            <input type="text" class="form-control form-control-lg" id="lastname" placeholder="Doe" required>
        </div>
        <div class="form-group col-12 col-md-6">
            <label for="firstname" class="col-form-label col-form-label-lg">Prénom</label>
            <input type="text" class="form-control form-control-lg" id="firstname" placeholder="John" required>
        </div>
    </div>
    <div class="form-group">
        <label for="email" class="col-12 col-form-label col-form-label-lg">Email</label>
        <input type="email" class="form-control form-control-lg" id="email" placeholder="votre@email.com" required>
    </div>
    <div class="form-group">
        <label for="message" class="col-12 col-form-label col-form-label-lg">Message</label>
        <textarea class="form-control form-control-lg" id="message" placeholder="Un mot doux, une question, exprimez-vous ici..." required></textarea>
    </div>
    <div class="form-group text-center">
        <button type="submit" class="btn btn-lg btn-success rounded">Envoyer <i class="far fa-paper-plane"></i></button>
    </div>
</form>
