{% set isNotLG = true %}
{% set inputs = [
    {
        name: 'email',
        placeholder: 'votre@email.com',
        text: 'Email',
        type: 'email',
        value: 'sylvaincombraque@hotmail.fr'
    },
    {
        name: 'cardholder-name',
        text: 'Titulaire de la carte',
        value: 'John Doe'
    },
] %}

<form onsubmit="doNothing(event)">
    {% for item in inputs %}
        {% include '/Components/Forms/_common/_group.html.twig' %}
    {% endfor %}
    <div class="form-group col-12">
        <label for="card-element">Carte de crédit</label>
        <div id="card-element" class="form-control" style='height: 2.4em; padding-top: .7em;'>
            <!-- A Stripe Element will be inserted here. -->
        </div>
    </div>
    <div class="py-4 text-center">
        <button type="submit" id="card-button" class="btn btn-info rounded" data-secret="{{ intent_secret }}">
            Valider le paiement <i class="far fa-credit-card"></i>
        </button>
    </div>
</form>
<script>
    function doNothing(event) { event.preventDefault(); }
</script>
