<form onsubmit="doNothing(event)">
    <div class="pb-2 form-group">
        <label for="email" class="col-form-label col-form-label-lg">Email</label>
        <input id="email" class="form-control w-100" type="text" placeholder="votre@email.com" required>
    </div>
    <div class="pb-2 form-group">
        <label for="cardholder-name" class="col-form-label col-form-label-lg">Titulaire de la carte</label>
        <input id="cardholder-name" class="form-control w-100" type="text" placeholder="Titulaire de la carte" required>
    </div>
    <div class="form-group">
        <label for="card-element">Credit or debit card</label>
        <div id="card-element" class="form-control" style='height: 2.4em; padding-top: .7em;'>
            <!-- A Stripe Element will be inserted here. -->
        </div>
    </div>
    <div class="py-4 text-center">
        <button type="submit" id="card-button" class="btn btn-info rounded" data-secret="{{ intent_secret }}">
            Valider le paiement <i class="far fa-credit-card"></i>
        </button>
    </div>
</form>
<script>
    function doNothing(event) { event.preventDefault(); }
</script>
